/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Jan-2016, 5:04:23 PM
    Author     : fernando
*/
$basic-color: #333;
$backgroundTableColor: rgb(145,144,178);
$dashBoarderContainerSize: 400px;
$tableLabelColor: rgb(255,255,255);

.mti777_headerLine{
    min-height: 50px;
    background-color: $basic-color;
}

.mti777_hover{
    
}

.mti777_dashBoardContainers{
    min-height: $dashBoarderContainerSize;
    max-height: $dashBoarderContainerSize;
    margin: 10px;
    background-color: $backgroundTableColor; 
    padding: 20px;
    border-radius: 20px;    
}

.mti777_tableContainer{
   max-height: $dashBoarderContainerSize - 150px;
   overflow: auto;
   overflow-y: scroll;
}

.mti777_table{
    
    
}
.mti777_tableLabel{
    color: $tableLabelColor;
    font-size: 18px;
    margin-bottom: 10px;
}

#totalTable{
    font-size: 20px;
    margin-left: 30%;
}


.wrap {
  width: 100%;
  //text-align: center;
}

.lookup {
  margin: 1em 0;
  padding: 1em;
  background-color: #A1D9FF;
  border-radius: 0.5em;
  //display: inline-block;
  text-align: left;
}

.matches {
  margin: 0.5em 0 0;
  padding: 0;
}

.matches > .match {
  margin: 0;
  padding: 0.5em;
  background-color: white;
  list-style: none;
}

.matches > .match:first-child {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.matches > .match:last-child {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.match > .highlight {
  background-color: #70CDFF;
  border-radius: 0.2em;
}

