/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Jan-2016, 5:04:23 PM
    Author     : fernando
*/
$basic-color: #333;
$backgroundTableColor: rgb(145,144,178);
$dashBoarderContainerSize: 300px;
$tableLabelColor: rgb(255,255,255);

.mti777_headerLine{
    min-height: 50px;
    background-color: $basic-color;
}

.mti777_hover{
    cursor: pointer;
}

.mti777_dashBoardContainers{
    min-height: $dashBoarderContainerSize;
    max-height: $dashBoarderContainerSize;
    margin: 10px;
    background-color: $backgroundTableColor; 
    padding: 20px;
    border-radius: 20px;    
    overflow: hidden;
}

.mti777_tableContainer{
   max-height: $dashBoarderContainerSize - 100px;
   overflow: auto;
   overflow-y: scroll;
}

.mti777_table{
    
    
}
.mti777_tableLabel{
    color: $tableLabelColor;
    font-size: 18px;
    margin-bottom: 10px;
}

